@import './variables';

.App {
  max-width: 380px;
  background-color: $main-background;
  height: 100%;
  font-family: 'Work Sans', sans-serif;

  .nav > li {
    width: 50vw;
  }

  .nav-tabs .nav-link.active  {
    border-color: $main-green;
    color: $white;
    background-color: $main-green;
  }

  .nav-link {
    color: $main-green;
    font-size: 18px;
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-link.active:hover {
    border-bottom-color: transparent;
    border-radius: 0;
    color: $white
  }

  .nav-tabs .nav-link {
    border-bottom-color: $main-green;
    color: $main-green;

    &:hover {
      color: $main-green;
      border-bottom-color: $main-green;
      cursor:pointer;
    }
  }

  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}